<%  
    for(var index = 0; index < battles.length; index ++){
    var currentBattle =  battles[index];   
    var firstPlayerUrlImg = catsJson.images.find(x => x.id == currentBattle.firstPlayerId).url;
    var secondPlayerUrlImg = catsJson.images.find(x => x.id == currentBattle.secondPlayerId).url;
        
%>
<div id="div_battles_<%=currentBattle.id%>" 
    class="row<%= index != 0 ? ' hide' : ' show'%> ">
    <div class="column">
        <img src="<%= firstPlayerUrlImg%>" style="width:500"
        onclick="winnerIs('<%=currentBattle.id%>','<%=currentBattle.firstPlayerId%>', '<%=currentBattle.id == battles.length%>')"/>
    </div>
    <div class="column">        
        <img src="<%= secondPlayerUrlImg%>" style="width:500"
        onclick="winnerIs('<%=currentBattle.id%>','<%=currentBattle.secondPlayerId%>', '<%=currentBattle.id == battles.length%>')"/>
    </div>    
</div>
<%}%>